<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="logo">
        <a class="navbar-brand" href="/">iPaaS</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a href="/users">Users</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="/api-docs">API Docs</a></li>
          <li><a href="https://www.github.com/redhat-ipaas/" target="_blank" rel="nofollow">GitHub</a>
          <li><a href="https://ipaas-staging.b6ff.rh-idev.openshiftapps.com/" target="_blank" rel="nofollow">UI Staging</a>
          <li><a href="https://ipaas-staging.b6ff.rh-idev.openshiftapps.com/api/v1" target="_blank" rel="nofollow">API Staging</a>
          <li><a href="https://ipaas-staging.b6ff.rh-idev.openshiftapps.com/api/v1/swagger.json" target="_blank" rel="nofollow">Swagger</a>
          <li><a href="https://redhat.invisionapp.com/share/VQ8UZ7PCE#/screens" rel="nofollow" target="_blank">Designs</a></li>
          <li><a href="https://circleci.com/gh/redhat-ipaas" target="_blank" rel="nofollow">CircleCI</a>
          <li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
