<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="#">iPaaS</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
          <li><a href="/user-guide">User Guide</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="https://www.github.com/redhat-ipaas/">GitHub</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
